.tabs a.active {
  font-weight: bold;
}

div.tab-pane {
  display: none;
}

div.tab-pane.active {
  display: block;
  /*opacity: 100%;*/
  transition: opacity 500ms linear;
}

div.transitioning {
  display: block;
  opacity: 0;
  transition: opacity 500ms linear;
}
