<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<%= error %><br>
	<% end %>
<% end %>

<h1>ALL THE DOGS</h1>
<pre><%= @dogs.to_s %></pre>

<%= link_to 'Create a new Dog!', '/dogs/new' %> <br>
<a href="/dogs">Dogs Index</a>
