
<div class="jumbotron">
  <center>
	  <h1>This Website Rocks!</h1>
	  <p><a class="btn btn-success btn-lg" href="new_session_url" role="button">Sign In Now</a></p>
  </center>
</div>


<div class="row">
	<center>
		<h1>Meet the Team</h1>
	</center>
</div>


<div class="row text-center">
	<div class="col-xs-4">
		<%= image_tag("face.png", class: "img-responsive img-circle") %>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem urna, ultrices quis orci efficitur, faucibus tempus tortor. Donec sit amet aliquet augue, id accumsan purus. Nam at metus turpis. Aenean tempus pellentesque eleifend. Curabitur ut nisl sed urna efficitur pharetra a a lacus.</p>
	</div>
	<div class="col-xs-4">
		<%= image_tag("face.png", class: "img-responsive img-circle") %>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem urna, ultrices quis orci efficitur, faucibus tempus tortor. Donec sit amet aliquet augue, id accumsan purus. Nam at metus turpis. Aenean tempus pellentesque eleifend. Curabitur ut nisl sed urna efficitur pharetra a a lacus.</p>
	</div>
	<div class="col-xs-4">
		<%= image_tag("face.png", class: "img-responsive img-circle") %>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem urna, ultrices quis orci efficitur, faucibus tempus tortor. Donec sit amet aliquet augue, id accumsan purus. Nam at metus turpis. Aenean tempus pellentesque eleifend. Curabitur ut nisl sed urna efficitur pharetra a a lacus.</p>
	</div>
</div>


<br>