<div class="row carousel">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag('cat1.jpg')%>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%= image_tag('cat2.jpg')%>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%= image_tag('cat3.jpg')%>
        <div class="carousel-caption">
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-8">
    <h3>Meow?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae ante cursus, pulvinar odio quis, cursus sem. Ut convallis nibh ut sem porta, quis facilisis libero lacinia. Nullam id neque egestas libero interdum facilisis. Vestibulum bibendum vel turpis vel eleifend. Pellentesque in nibh felis. Curabitur vulputate sollicitudin elit, vel bibendum felis sollicitudin scelerisque. Etiam nibh risus, auctor vitae venenatis sit amet, commodo sit amet massa. Sed et elit vel libero venenatis porta. Duis orci enim, scelerisque vel cursus eu, lacinia ac leo. Nunc nec urna dictum, mattis ligula quis, euismod libero. Phasellus at consequat velit. Morbi ut commodo nisl. Sed vulputate viverra ipsum posuere commodo. Nullam nec tellus nibh. Phasellus lobortis ultricies felis ac cursus. Vivamus vestibulum libero ut ex fringilla finibus ut a metus.</p>

    <p>Donec nec nibh ligula. In molestie interdum lectus eu tincidunt. Mauris nec velit mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam et vehicula enim. Maecenas vitae fermentum diam. Ut non consectetur eros. Curabitur sodales ac lorem porta maximus. Curabitur leo est, malesuada eget vestibulum quis, imperdiet et nulla.</p>
  </div>
  <div class="col-xs-4">
    <h3>Cat?</h3>
    <p>In nec finibus elit, in bibendum erat. Pellentesque lacinia, metus porta scelerisque tempus, ipsum lorem ultricies lacus, non rutrum arcu libero molestie quam. In ullamcorper nisi sit amet commodo tristique. Mauris feugiat, diam vitae maximus scelerisque, felis neque malesuada massa, a fermentum lacus urna ut nibh. Proin eu finibus quam. Duis vel est quis diam imperdiet tristique. Nullam quis accumsan orci. Cras consequat tellus ac erat ultricies tincidunt.</p>
  </div>
<div>
