<footer class="footer edit-menu">
<small>
  Reddit Clone
</small>
<nav>
  <ul>
    <li><%= link_to "Log in", new_session_url %></li>
    <li><%= link_to "Sign up", new_user_url %></li>
  </ul>
</nav>
</footer>
