<h3 class='edit title'><%= post.escape('title') %></h3>

<pre class='edit body'>
  <%= post.escape('body') %>
</pre>

<br>
<a href="#">Back</a> | <a href="#/posts/<%= post.escape('id') %>/edit">Edit</a>
