/* PHASE 3: Layout */

.content{
    width: 900px;
    margin: auto;
}

.content::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    left: 240px;
    top: 0;
    bottom: 0;
    color: red;
    background: red;
}

.content-sidebar{
    float: left;
    background-color: #eee;
    width: 240px;
    padding: 20px;
    min-height: 200px;
}

.content-main{
    float: right;
    background-color: #eee;
    width:660px;
    padding: 20px;
    min-height: 200px;
}
